<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
      <add name="ora_sico_mancal" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.25.51)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=sernac)));user id=sico_mancal;password=mancal_sico;" providerName="Oracle.DataAccess.Client" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IService" />
          <binding name="BasicHttpBinding_IService1" />
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://localhost:20462/ManCal_Login.svc" binding="basicHttpBinding"
            bindingConfiguration="BasicHttpBinding_IService" contract="ManCal_Login.IService"
            name="BasicHttpBinding_IService" />
        <endpoint address="http://localhost:43354/ManCal_Cbo.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="ManCal_Cbo.IService"
                name="BasicHttpBinding_IService1" />
      </client>
    </system.serviceModel>
    <system.web.extensions>
      <scripting>
        <webServices>
          <jsonSerialization maxJsonLength="50000000" />
        </webServices>
        <scriptResourceHandler enableCompression="true" enableCaching="true" />
      </scripting>
    </system.web.extensions>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89B483F429C47342" />
          <publisherPolicy apply="no" />
        </dependentAssembly>
      </assemblyBinding>
    </runtime>
</configuration>
