<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" />
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:20462/ManCal_Login.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService" contract="ManCal_Login.IService"
                name="BasicHttpBinding_IService" />
            <endpoint address="http://localhost:43354/ManCal_Cbo.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="ManCal_Cbo.IService"
                name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
</configuration>